<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{hero.superhero}}</mat-card-title>
    <mat-card-subtitle>{{hero.alter_ego}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="hero | imagen" alt="{{hero.superhero}}">
  <mat-card-content>
    <h3>{{hero.publisher}}</h3>
    <p>
      <strong>Primera Aparicion: </strong>{{hero.first_appearance}}
      <br>
      <strong>Personajes: </strong>{{hero.characters}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            color="info"
            [routerLink]="['/heroes/editar',hero.id]"
    >Editar
    </button>
    <span class="spacer"></span>
    <button mat-button
            color="warn"
            [routerLink]="['/heroes/detalle',hero.id]"
    >Leer mas...</button>
  </mat-card-actions>
</mat-card>
